@using Web.Contracts.V1.Responses
@model ItemsCatsVM
@{
    ViewData["title"] = "Home page";
}

<h2>Categories</h2>
<hr class=col-12 />
<div class="row justify-content-around">
    @foreach (var cat in Model.Categories)
    {
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card m-1">
                <a asp-controller="Items" asp-action="GategoryItems" asp-route-id="@cat.Id">
                    <img asp-append-version="true" src="@(string.IsNullOrWhiteSpace(cat.ImageUrl)?"~/Images/no-image.jpg":cat.ImageUrl)" class="card-img-top" style="height:250px;width:100%;object-fit:cover;" alt="Image">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="Items" asp-action="GategoryItems" asp-route-id="@cat.Id">@cat.Name</a></h5>
                    <p class="card-text">@cat.Description</p>
                </div>
            </div>
        </div>
    }
</div>
<h2>Items</h2>
<hr class=col-12 />
@await Html.PartialAsync("_items",Model.Items)