@model IEnumerable<Ecommerce.WebUI.Models.Item>

<div class="row pb-3">
    @foreach(var item in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-1" style="border:1px solid #008cba; border-radius:5px;">
                    <div class="card">
                        <img src="@item.ImageUrl" class="card-img-top rounded" />
                        <div class="card-body">
                        <div class="pl-1">
                            <p class="card-title h5 text-primary">@item.Name</p>
                            <p class="card-title text-info">@item.Category.Name</p>
                        </div>
                          <div class="pl-1">
                            <p>Price: <b>@item.Price.ToString("0.00")</b></p>
                        </div>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Details" class="btn btn-primary form-control" asp-route-id="@item.Id">
                            Details
                        </a>
                    </div>
                </div>
            </div>

        </div>
    }
</div>